<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="mystyle.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maxim Technology</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<!--    <link href="style.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="50" height="50"><use xlink:href="/favicon.ico?v=2"></use></svg>
        <span class="fs-4"><img src="{{ url_for('static', filename='2.PNG') }}" width="120" height="40"></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('contacts') }}" class="nav-link active">О нас</a></li>
        <li class="nav-item"><a href="{{ url_for('school') }}" class="nav-link px-2 link-secondary">Школьникам</a></li>
        <li class="nav-item"><a href="{{ url_for('student') }}" class="nav-link px-2 link-secondary">Студентам</a></li>
        <li class="nav-item"><a href="{{ url_for('excursion') }}" class="nav-link px-2 link-secondary">Запись на экскурсию</a></li>
        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 link-secondary">Участие в проектах</a></li>
      </ul>
    </header>

<main>
    <h2>Учебные собеседования</h2>
    <p>Это проект для студентов IT-направлений подготовки, который реализуется сотрудниками Группы развития информационно-инженерного творчества и Отделом PR.</p>

    <div class="summary"></div>

<div id ="text">
   <img src="{{ url_for('static', filename='1.PNG') }}" width="100%" height="300">


<div class ="text1"><h1>1 этап: встреча - мастер-класс  со студентами IT-направлений.</h1></div>

<div class ="text2"><p>В рамках встречи сотрудники компании расскажут студентам:     </p></div>
<div class ="text3"><p>- как грамотно составить резюме</p></div>
<div class ="text4"><p>- как подготовиться к собеседованию в IT-компанию            </p></div>
<div class ="text5"><p>- как продумать рассказ о себе и вопросы работодателю            </p></div>
<div class ="text6"><p>- какие soft и hard skills, необходимы IT-специалисту.             </p></div>

</div>
    <p>В ходе встречи студентам предлагается составить свое резюме, отправить его на проверку специалистам компании и получить фидбэк с рекомендациями.</p>
    <p>Вместе с фидбэком студенты получают приглашение на учебное собеседование, которое проводится в компании.</p>

    <h1>2 этап: учебное собеседование.</h1>
    <p>На встрече со студентом проводится реальное собеседование.</p>
    <p>- Студент, получает возможность на практике отработать полученные на мастер-классе знания.</p>
    <p>- По итогам собеседования студенту отправляется фидбэк со всеми рекомендациями на что стоит обратить внимание. </p>
    <p>- Перспективных студентов предлагаем на стажировку руководителям отделов и наставникам. </p>

    <h1>Встречи с экспертами: IT-инглиш.</h1>

<p>- Это проект для студентов IT-направлений подготовки, которые могут пообщаться с приглашенными гостями — специалистами Maxim Technology на темы IT и прокачать свой английский.</p>
<p>- На встрече специалисты рассказывают студентам о своей профессии или интересном проекте, отвечают на вопросы.</p>
<p>- Все общение происходит на английском языке.</p>


<h1>Встречи с экспертами: IT-профессии.</h1>
    <p>- это цикл мероприятий онлайн и офлайн, где студенты IT-направлений подготовки могут пообщаться со специалистами компании Maxim Technology, узнать о трендах в IT, направлениях работы, профессиях, образовании, познакомиться с реальными кейсами и проектами.</p>
    <p>- Эксперты Maxim Technology рассказывают о своем опыте и карьере, дают советы, отвечают на вопросы. Такие встречи полезны тем, что на них можно увидеть реальную, "живую" картину, как развивается специалист, с какими вызовами он сталкивается. А также узнать лайфхаки, получить советы по успешному старту в карьере.</p>


    <h1>Карьера в IT: </h1>

<p>На встрече с представителем компании Maxim Technology участники обсудят:</p>
    <ul>
<li>кто такой IT-специалист и какие направления в IT-сфере сейчас популярны</li>
<li>что такое грейды и какие требования предъявляются к IT-специалиста</li>
<li>Soft и hardskills, необходимые IT-специалисту</li>
<li>Где учиться, чтобы стать IT-специалистом</li>
<li>Полезные лайфхаки из опыта действующих IT-специалистов.</li>
    </ul>


<h1>практика и стажировка в Maxim Technology:</h1>
    <p>ссылка на анкету, которая будет приходить на почту.</p>



<p></p>

    <p>Синцев Владислав, программист, Middle</p>

<p>История:</p>
<p>Это был 2018 год, я только-только поступил в колледж на программиста и буквально через месяц учебы нам провели экскурсию в «Технологии», тогда я еще не знал, что это за компания и чем занимается.</p>
<p>После экскурсии меня очень впечатлила компания. Было непонимание, как я раньше о ней не знал. Также на экскурсии увидел знакомые лица, что добавило еще немного мотивации.</p>
<p>Где-то в середине 2-го курса решил попробовать пройти стажировку, но в тот момент моих знаний не хватало. Когда я уже был на третьем курсе, в колледж пришло предложение о наборе студентов для прохождения стажировки. Я сразу откликнулся на предложение и ждал ответа.</p>
<p>По окончании небольшого собеседования меня взяли на стажировку, которая длилась 9 месяцев, 6 из которых нам рассказывали лекции. Закончив лекции, начали делать тестовый проект, на его разработку ушло 3 месяца.</p>
<p>После тестового проекта провели еще одно собеседование, по итогам которого меня забрали в отдел, где работаю по сей день. В команде сложились доброжелательные отношения. Все участники команды помогают друг другу в трудных ситуациях, делятся опытом и знаниями.
    <p>Совет: </p>
<p>постараться не откладывать изучение нового материала или прочтение книг.</p>

    <p></p>

<p>Сударикова Дарья, программист, Junior</p>

    <p>История:</p>
    <p>На третьем курсе моего обучения в КГУ, я приступила к прохождению практики в Maxim Technology. По завершении третьего курса меня пригласили на стажировку в отдел СУБД в группу разработки биллинга.</p>
    <p>Мои первые впечатления о компании были весьма положительными, хотя мне еще не все было понятно. Однако, благодаря быстрому вхождению в рабочий процесс и готовности коллег помочь разобраться, я быстро освоилась. </p>
    <p>Моя стажировка продолжалась 4 месяца, после чего меня приняли на полставки (учитывая, что я продолжала обучение в университете).</p>
    <p>Я рассчитывала, что стажировка улучшит мои технические навыки, но не ожидала, что также значительно разовью soft skills.</p>
    <p>Важным элементом решения любой задачи оказалось общение с коллегами, особенно для новичка, каким я была тогда. Стажировка дала мне прекрасный шанс окунуться в мир IT.</p>
    <p>Я довольна условиями работы в компании и нахожусь в процессе выполнения интересных задач, которые постоянно расширяют мой кругозор и навыки.</p>

<p>Совет:</p>
<p>Ребятам, только начинающим свой путь в IT, могу посоветовать быть открытыми к обучению, активно участвовать в жизни команды и не бояться задавать вопросы, так как это поможет быстрее освоиться и развиваться в профессиональном плане.</p>


</main>

<footer>
    <div class="row">
    <div class="col-sm-1 col-md-1 mt-1 col-lg-3 text-center text-sm-start">
    <div class="social">
          <h6 class="footer-heading text-uppercase text-black fw-bold">Соц.сети:</h6>
          <ul class="list-inline my-3">
            <li class="list-inline-item"><a href="https://www.youtube.com/@maximtechnology"><img src="{{ url_for('static', filename='y.png') }}" class="icon-style" alt="youtube icon"></a>
            <li class="list-inline-item"><a href="https://vk.com/oootechnology"><img src="{{ url_for('static', filename='vk.png') }}" class="icon-style" alt="vk icon"></a>
            <li class="list-inline-item"><a href="https://maxim-technology.com/"><img src="{{ url_for('static', filename='telegram.png') }}" class="icon-style" alt="telegram icon"></a>
            </ul>
    </div>
    </div>
    <div class="col-sm-1 col-md-1 mt-1 col-lg-3 text-center text-sm-start">
      <div class="contact">
          <h6 class="footer-heading text-uppercase text-black fw-bold">Контакты:</h6>
          <address class="mt-2 m-0 text-black mb-1"><i class="bi bi-pin-map fw-semibold"></i> г. Курган, ул. Тельмана, 12А</address>
          <a class="text-black mb-1 text-decoration-none fw-semibold"><i class="bi bi-telephone"></i>  +7 (3522) 601-336</a>
          <a class="text-black mb-1 text-decoration-none fw-semibold"><i class="bi bi-envelope"></i> pr@maxim-technology.com</a>
      </div>
        </div>
    </div>
        <p class="mb-0 fw-bold">© 2003–2024 ООО «ТАКСТЕЛЕКОМ»</p>
</footer>

</body>
</html>
